*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    min-height: 100vh;
}
label{
    top: -150px;
    position: relative;
    width: 150px;
    height: 75px;
    background: #212121;
    border-radius: 10px;
}
label input{
    appearance: none;
}
label span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    width: 75px;
    height: 75px;
    border-radius: 14px;
    border:  6px solid #212121;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
label input:checked ~ span{
    left: 75px;
}
label span ion-icon{
    color: rgba(255, 255, 255, 0.25);
    font-size: 2em;
    transition: 0.5s;
}
label input:checked ~ span ion-icon{
    color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 1px #fff) drop-shadow(0 0 15px #fff);
}

.bulb{
    background-image: url(bulb_off.jpg);
    width: 348px;
    height: 408px;
    transform: translateX(-50%);
    position: absolute;
    top: 80px;
    left: 50%;
    pointer-events: none;
    transition: 0.5s;
}

label input:checked ~ .bulb{
    background-image: url(bulb_on.jpg);
}